<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cadastro de Pessoas</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Cadastro de Pessoas</h1>
<form class="form-cadastro" th:action="${pessoa.id == null} ? @{/pessoa/save} : @{/pessoa/update}" th:object="${pessoa}" method="post">
  <input type="hidden" th:field="*{id}">
  <div class="form-group">
    <input type="text" th:field="*{nome}"  placeholder="Nome">
  </div>
  <div class="form-group">
    <input type="submit" value="Enviar">
  </div>
</form>

</body>
</html>

