<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Cadastro de Cliente</h1>
<form class="form-cadastro" th:action="@{/pessoa/save}" th:object="${pessoa}" method="post">
    <input type="hidden" th:field="*{id}" />
<!--    <form class="form-cadastro" th:action="${pessoa.id == null} ? @{/pessoa/save} : @{/pessoa/update}" th:object="${pessoa}" method="post">-->
    <div class="form-group">
    <select id="tipoPessoa" name="tipoPessoa" onchange="toggleFields()" th:value="*{nomeClasse()}" required>
        <option value="">Selecione...</option>
        <option value="fisica" th:selected="*{#strings.equals(nomeClasse(), 'fisica')}">Pessoa Física</option>
        <option value="juridica" th:selected="*{#strings.equals(nomeClasse(), 'juridica')}">Pessoa Jurídica</option>
    </select><br><br>
    </div>
    <!-- Campos Pessoa Física -->
    <div id="pfFields" th:if="${pessoa.tipoObjeto('PessoaFisica')}" style="display:none;" class="form-group">
        <input type="text" id="nome" name="nome" th:field="*{nome}" placeholder="Nome"/><br><br>
        <input type="text" id="cpf" name="cpf" th:field="*{cpf}" placeholder="CPF"/><br><br>
    </div>

    <!-- Campos Pessoa Jurídica -->
    <div id="pjFields" th:if="${pessoa.tipoObjeto('PessoaJuridica')}" style="display:none;" class="form-group">
        <input type="text" id="razaoSocial" name="razaoSocial" th:field="*{razaoSocial}" placeholder="Razão Social" /><br><br>
        <input type="text" id="cnpj" name="cnpj" th:field="*{cnpj}" placeholder="CNPJ"/><br><br>
    </div>
    <div class="form-group">
        <input type="text"  name="telefone" th:field="*{telefone}" placeholder="Telefone" required/><br><br>
        <div class="form-group">
            <input type="text"  name="email" th:field="*{email}" placeholder="E-mail" required/><br><br>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Enviar">
    </div>
</form>
<script src="/js/scripts.js"></script>
</body>
</html>
