<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cadastro de Veiculos</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/veiculo.ico" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Cadastro de Veículos</h1>
<form class="form-cadastro" th:action="${veiculo.id == null} ? @{/veiculo/save} : @{/veiculo/update}" th:object="${veiculo}" method="post">

  <input type="hidden" th:field="*{id}">

  <div class="form-group">
    <label for="modelo">Modelo</label>
    <select th:field="*{modelo.id}" id="modelo">
      <option value=""  selected>Selecione o modelo</option>
      <option th:each="modelo : ${modelos}" th:value="${modelo.id}" th:text="${modelo.nome}"
        th:selected="${modelo.id == veiculo.modelo.id}"></option>
    </select>
  </div>

  <div class="form-group">
    <input type="text" th:field="*{preco}"  placeholder="Preço">
  </div>

  <div class="form-group">
    <label for="anoFabricacao">Ano de Fabricação:</label>
    <select id="anoFabricacao" th:field="*{anoFabricacao}">
      <option value="" selected>Selecione o ano</option>
      <option th:each="ano : ${anos}" th:value="${ano}" th:text="${ano}"></option>
    </select>
  </div>

  <div class="form-group">
    <input type="submit" value="Enviar">
  </div>
</form>

</body>
</html>

