<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Veículos</title>
    <link rel="shortcut icon" href="/veiculo.ico" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Lista de Veículos</h1>

<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Preço</th>
        <th>Ano Fabricação</th>
        <th colspan="2">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="v : ${veiculos}">
        <td th:text="${v.id}"> </td>
        <td th:text="${v.modelo.marca.nome}"> </td>
        <td th:text="${v.modelo.nome}"> </td>
        <td th:text="${#numbers.formatCurrency(v.preco)}"> </td>
        <td th:text="${v.anoFabricacao}"> </td>
        <td>
            <a th:href="@{/veiculo/edit/{id}(id=${v.id})}">Editar</a>
        </td>
        <td>
            <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
               th:href="@{/veiculo/remove/{id}(id=${v.id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Botão para adicionar novo veículo -->
<div class="new-button-container">
    <a href="/veiculo/form" class="btn-new">Novo Veículo</a>
</div>

</body>
</html>
