<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Vendas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Vendas</h1>

<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Detalhes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="venda : ${vendas}">
            <td th:text="${venda.id}"></td>
            <td th:text="${#temporals.format(venda.dataVenda, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td th:text="${venda.pessoa instanceof T(br.edu.ifto.aula05.model.entity.PessoaFisica) ? venda.pessoa.nome : (venda.pessoa instanceof T(br.edu.ifto.aula05.model.entity.PessoaJuridica) ? venda.pessoa.razaoSocial : '')}"></td>
            <td th:text="${#numbers.formatCurrency(venda.totalVenda())}"></td>
            <td style="text-align: center">
                <a th:href="@{/venda/detail/{id}(id=${venda.id})}" class="btn btn-primary" style="cursor: pointer;">itens</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>