<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="shortcut icon" href="/veiculo.ico" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Lista de Produtos</h1>
<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th colspan="2">Ações</th>
    </tr>
    </thead>
    <tr th:each="p : ${produtos}">
        <td th:text="${p.id}"> </td>
        <td th:text="${p.descricao}"> </td>
        <td th:text="${p.valor}"> </td>
        <td> <a th:href="@{/produto/edit/{id}(id=${p.id})}">Editar</a> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/produto/remove/{id}(id=${p.id})}">Excluir</a> </td>
    </tr>
</table>
<div class="new-button-container">
    <a href="/produto/form" class="btn-new">Novo Produto</a>
</div>
</body>
</html>