<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Itens de Venda</title>
    <link rel="shortcut icon" href="/veiculo.ico" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Lista de Itens de Venda</h1>
<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Quantidade</th>
        <th>Id Venda</th>
        <th>Produto</th>
        <th colspan="2">Ações</th>
    </tr>
    </thead>
    <tr th:each="item : ${itensVenda}">
        <td th:text="${item.id}"> </td>
        <td th:text="${item.quantidade}"> </td>
        <td th:text="${item.venda.id}"> </td>
        <td th:text="${item.produto.descricao}"> </td>
        <td> <a th:href="@{/itemvenda/edit/{id}(id=${item.id})}">Editar</a> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/itemvenda/remove/{id}(id=${item.id})}">Excluir</a> </td>
    </tr>
</table>
<div class="new-button-container">
    <a href="/itemvenda/form" class="btn-new">Adicionar Item</a>
</div>
</body>
</html>