<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cadastro de Marca</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/veiculo.ico" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Cadastro de Marca</h1>
  <form class="form-cadastro" th:action="${marca.id == null} ? @{/marca/save} : @{/marca/update}" th:object="${marca}" method="post">
    <input type="hidden" th:field="*{id}">

    <div class="form-group">
      <input type="text" th:field="*{nome}" placeholder="Marca">
    </div>

    <div class="form-group">
      <input type="submit" value="Enviar">
    </div>
  </form>
</body>
</html>

